@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-amoled {
  background-color: #252529;
}

/* .font-logo {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
} */
